#belowTheFold {
  border: 2px solid red;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

/* Even if pup Description container */
.evenIfPup {
  display: flex;
  flex-direction: column;
}

#product-feature-specs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
#product-feature-desc {
  height: 85px;
  padding-top: 20px;
  padding-bottom: 32px;
  padding-left: 142.41px;
  padding-right: 142.4px;
  background: #f4f2ed;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.product-description__text {
  padding-bottom: 1px;
  padding-left: 23.32px;
  padding-right: 22.87px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  text-align: center;
  color: rgba(12, 11, 8, 0.75);
  font-size: 23px;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}
/* Liters  */

.featured-specs__item {
  width: 50%;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  display: inline-flex;
  background: #f4f2ed;
}

.featured-specs__name {
  text-align: center;
  color: rgba(12, 11, 8, 0.75);
  font-size: 11px;
  font-family: Inter;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.featured-specs__values {
  text-align: center;
  color: rgba(12, 11, 8, 0.75);
  font-size: 15px;
  font-family: Inter;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

/* CARRY ON DIVS */
.featured-carryOn {
  width: 50%;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  display: inline-flex;
  background: #f4f2ed;
}

.featured-carryOnHeader {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  display: inline-flex;
  background: #f4f2ed;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
}

.featured-carryOnYes {
  text-align: center;
  color: rgba(12, 11, 8, 0.75);
  font-size: 11px;
  font-family: Inter;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

/* STARTS FROM FEATURES --> QUESTIONS */
.accordion-wrapper-div {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  padding: 1rem;
}
.accordion-group {
  list-style-type: none;
}

.features-and-techFlexBox {
  display: flex;
}

/* MAY LIKE SECTION  */
.mayLikeFlexBox {
  display: flex;
  border: 2px solid green;
}

.reviewFlexbox{
    display: flex;
    border: 2px solid fuchsia;
    flex-wrap: wrap;
    flex-direction: column;
}
