#bodyContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#bcDiv {
  display:flex;
  width: 1232px;
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

#bodyContainer #display {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#bodyContainer #display-details {
  letter-spacing: -0.08px;
  font-size: 13px;
  line-height: 1.6rem;
  padding-left: 50px;
}

#display {
  height: 61rem;
}
