#buyBox {
  width: 468px;
  height: 799px;
  display: flex;
  flex-wrap: wrap;
}



#wishListBtn {
  border: 1px solid #77726a;
  width: 100%;
  height: 38px;
  border-radius: 4px;
  background-color: #F9F8F6;
  font-size: 17px;
  transition: box-shadow .5s ease;
}



#wishListBtn:hover {
  box-shadow: inset 0 0 0 2px #414141;
}


#wishListBtn strong {
  color: #535353;
}



#returnPolicy{ 
  border: none;
  color: #406eb5;
  text-decoration: underline;
  width: 100%;
  background-color: #fff;
  height: 22px;
  font-size: 16px;
}


#returnPolicy:hover {
  text-decoration: none;
  cursor: pointer;
}




