#buyBox {
  width: 468px;
  height: 799px;
  display: flex;
  flex-wrap: wrap;
}

#price {
  color: rgba(12, 11, 8, 0.75);
  font-size: 19px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  font-weight: 600;
  line-height: 36px;
  word-wrap: break-word;
}

#color {
  color: rgba(12, 11, 8, 0.75);
  font-size: 13px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

#black {
  color: rgba(12, 11, 8, 0.75);
  font-size: 13px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  font-weight: 600;
  line-height: 36px;
  word-wrap: break-word;
}
