.mainPhoto {
  object-fit: contain;
  padding-top: 120px;
  margin-left: 150px;
  height: 50%;
}

.carousel {
  height: 600px;
  width: auto;
}

.thumb {
  padding-top: 0.5rem;
  width: 4rem;
  height: 6rem;
}

.thumb img {
  object-fit: contain;
}
