.product {
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-brand {
  left: 0px;
  top: -1px;
  /* position: absolute; */
  color: #406eb5;
  font-size: 15px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  font-weight: 400;
  text-decoration: underline;
  line-height: 22px;
  word-wrap: break-word;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
}

.product-name {
  color: #494846;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 32px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  padding-bottom: 1rem;
}





