
.product {
    width: 100%;
    /* height: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-brand {
    left: 0px;
    top: -1px;
    /* position: absolute; */
    color: #406EB5;
    font-size: 15px;
    font-family: Graphik,Helvetica Neue,sans-serif;
    font-weight: 400;
    text-decoration: underline;
    line-height: 22px;
    word-wrap: break-word;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    
}

.product-name {
    left: 0px;
    top: 25px;
    /* position: absolute; */
    color: #494846;
     font-size: 28px;
    font-family: Stuart,Georgia,serif;
    font-weight: 500;
    line-height: 32px;
     word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    
}
 