#purchaseForm * {
  box-sizing: border-box;
}


#purchaseForm {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

#mushrooms {
  width: 71.983px;
  height: 34.5px;
  flex-shrink: 0;
}

#shipBtnContainer {
  display: flex;
  column-gap: 8px;
  height: 8rem;
  position: relative;
  top: 2rem;
}

.shipToBtns {
  width: 230px;
  min-height: 126px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  background-color: rgb(254, 254, 254);
  /* box-shadow: 0px 0px 0px 1px #2f2f2f inset; */
  border: 1px solid #868686;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  transition: box-shadow 0.3s ease;
}

.shipToBtns:hover{
  box-shadow: 0 5px 3px 0 #d1d1d1;
}



.clickedShip {
  box-shadow: inset 0 0 0 2px #5f5f5f
  
}

.clickedShip:hover {
  box-shadow: inset 0 0 0 2px #5f5f5f
  , 0 5px 3px 0 #d1d1d1;
}


.free {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #4E4D49
}


.shipBtnTitle {
  color: #4e4d49;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.shippingText {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  color: #666666;
}

.ready {
  width: 100%;
  text-align: left;
}

.shipEdit {
  border: none;
  background-color: rgb(254, 254, 254);
  text-decoration: underline;
  color: #406eb5;
}

.shipEdit:hover {
  cursor: pointer;
  text-decoration: none;
}

#becomeMember {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dcd6cb;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

#mushroomDiv {
  display: flex;
  justify-content: center;
  background-color: rgb(254, 254, 254);
  position: relative;
  top: 3.75rem;
  left: 11.5rem;
  width: 110px;
  height: 44.5px;
}

#memberDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 1rem;
  width: 100%;
  position: relative;
  top: 1.5rem;
}

#memberText {
  font-weight: 400;
  width: 100%;
  font-size: 16px;
  height: 1rem;
}



#membershipLabel:hover {
  cursor: pointer;
}

#lifetimeMembership {
  border: none;
  background-color: rgba(244, 242, 237, 0.15);
  text-decoration: underline;
  color: #406eb5;
}


#savings {
  color: #1f513f;
  font-size: 17px;
}

#lifetimeMembership:hover {
  cursor: pointer;
  text-decoration: none;
}

#checkBoxText {
  background: rgba(244, 242, 237, 0.15);
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
  position: relative;
  align-items: center;
}



#oneTime {
  color: #333;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
}

.checkboxContainer label {
  display: flex;
  border-radius: 5px;
  background-color: #fbfbfc;
  padding: 1px;
  width: 90%;
  justify-content: center;
  margin-right: 1px;
  border: 2px solid #fbfbfc;
}

.checkboxContainer input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkboxContainer label::before {
  position: relative;
  content: "";
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
  right: 0.75rem;
  top: 1px;
  font-size: small;
}

.checkboxContainer label:hover {
  background-color: #f5f5f5;
}
.checkboxContainer label:hover::before {
  border-color: #333;
  box-shadow: inset 0 0 0 1px #333;
}


.checkboxContainer input[type='checkbox']:checked + label::before {
  background-color: #928b80;

  content: '\002714';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid rgb(107, 107, 107)
}


.checkboxContainer input[type='checkbox']:focus + label {
  border: 2px solid #333;
}

