
#purchaseForm * {
  box-sizing: border-box;
}

#purchaseForm {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

#price {
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(12, 11, 8, 0.75);
  font-size: 19px;
  line-height: 36px;
  font-weight: 600;
}

#color {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#color span {
  width: 100%;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #585858;
}

#color button {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 4px;
  align-items: center;
  transition: box-shadow .3s ease;
}

#color button:hover {
  box-shadow: 0 2px 0 0 #d1d1d1;
  cursor: pointer;
}

#quantity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #666666;
  align-items: center;
}

#quantity span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  width: 100%;
}

#quantity div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

#quantity button {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.useableBtn:hover {
  cursor: pointer;

}

#minusBtn {
  width: 21px;
  height: 21px;
  padding-right: 28px;
}

.unusableBtn:hover {
  cursor: url('../../assets/unusableBtn.svg'), auto;
}

#quantity input {
  width: 64px;
  border: 1px solid #747474;
  height: 40px;
  border-radius: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
}


#quantity input::-webkit-inner-spin-button,
#quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#mushrooms {
  width: 71.983px;
  height: 34.5px;
  flex-shrink: 0;
}

#shipBtnContainer {
  display: flex;
  column-gap: 8px;
  height: 8rem;
  position: relative;
  /* top: 2rem; */
}

.shipToBtns {
  width: 230px;
  min-height: 126px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  background-color: rgb(254, 254, 254);
  border: 1px solid #868686;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  transition: box-shadow 0.3s ease;
}

.shipToBtns:hover {
  box-shadow: 0 5px 3px 0 #d1d1d1;
}

.clickedShip {
  box-shadow: inset 0 0 0 2px #5f5f5f;
  animation: showBoxShadow 0.7s ease;
}

.clickedShip:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: inset 0 0 0 2px #5f5f5f, 0 5px 3px 0 #d1d1d1;
}

@keyframes showBoxShadow {
  from {
    box-shadow: 0 0 0 1px #2f2f2f inset; /* Starting box shadow with 1px blur and transparent color */
  }
  to {
    box-shadow: 0 0 0 2px #5f5f5f inset; /* Final box shadow with 2px blur when .clickedShip is applied */
  }
}

.free {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #4e4d49;
}

.shipBtnTitle {
  color: #4e4d49;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

#greenCheck {
  position: relative;
  bottom: 7px;
  left: 7px;
}

.flexDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shippingText {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  color: #666666;
}

.ready {
  width: 100%;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.shipEdit {
  border: none;
  background-color: rgb(254, 254, 254);
  text-decoration: underline;
  color: #406eb5;
  position: relative;
  top: 0.25rem;
}

.shipEdit:hover {
  cursor: pointer;
  text-decoration: none;
}

#becomeMember {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dcd6cb;
  justify-content: left;
  width: 100%;
  height: 5rem;
  border-radius: 4px;
}

#mushroomDiv {
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: relative;
  top: 2.5rem;
  left: 11.5rem;
  width: 110px;
  height: 44.5px;
  z-index: 3;
}

#memberDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 1rem;
  width: 100%;
  position: relative;
  top: 1rem;
}

#memberText {
  display: flex;
  width: 100%;
  font-size: 16px;
  height: 1rem;
  position: relative;
  left: 1.5rem;
}

#membershipLabel:hover {
  cursor: pointer;
}

#lifetimeMembership {
  border: none;
  background-color: rgba(244, 242, 237, 0.15);
  text-decoration: underline;
  color: #406eb5;
}

#savings {
  color: #1f513f;
  font-size: 17px;
}

#lifetimeMembership:hover {
  cursor: pointer;
  text-decoration: none;
}

#checkBoxText {
  background: rgba(244, 242, 237, 0.15);
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
  position: relative;
  bottom: 3px;
}

#oneTime {
  color: #333;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: left;
  padding: 0.75rem;
}

.checkboxContainer label {
  display: flex;
  border-radius: 5px;
  background-color: #fbfbfc;
  width: 90%;
  justify-content: center;
  margin-right: 1px;
  border: 2px solid #fbfbfc;
  height: 1.3rem;
}

.checkboxContainer input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkboxContainer label::before {
  position: relative;
  content: "";
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
  right: 0.75rem;
  font-size: small;
}

.checkboxContainer label:hover {
  background-color: #f5f5f5;
}
.checkboxContainer label:hover::before {
  border-color: #333;
  box-shadow: inset 0 0 0 1px #333;
}

.checkboxContainer input[type="checkbox"]:checked + label::before {
  background-color: #928b80;

  content: "\002714";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid rgb(107, 107, 107);
}

.checkboxContainer input[type="checkbox"]:focus + label {
  border: 2px solid #333;
}

#addToCartBtn {
  width: 100%;
  border: none;
  height: 38px;
  background-color: #1f513f;
  color: #fff;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 4px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  box-shadow: inset 0 0 0 1px #1f513f;
}

#addToCartBtn:hover {
  background-color: rgb(241, 239, 231);
  color: #1f513f;
  box-shadow: inset 0 0 0 3px #1f513f;
  cursor: pointer;
}

#viewedToday {
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #666666;
  font-size: 14px;
}

.strongNumbers {
  color: #333;
}

#inStock {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  border-top: 1px solid #dcd6cb;
  border-bottom: 1px solid #dcd6cb;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#inStock span {
  width: 100%;
  height: 1rem;
  position: relative;
  right: 0.89rem;
  bottom: 0.1rem;
}

#inStock button {
  text-align: left;
  background-color: #fff;
  border: none;
  text-decoration: underline;
  color: #406eb5;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 1rem;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  right: 1.25rem;
  font-size: 14px;
  top: 0.1rem;
}

#inStock button:hover {
  text-decoration: none;
  cursor: pointer;
}
