* {
  margin: 0;
  padding: 0;
}

#purchaseForm {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

#mushrooms {
  width: 71.983px;
  height: 34.5px;
  flex-shrink: 0;
}

#shipBtnContainer {
  display: flex;
  column-gap: 8px;
  height: 8rem;
}

.shipToBtns {
  width: 230px;
  min-height: 126px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 0px 0px 1px #2f2f2f inset;
  border: #2c2c2b;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.shipBtnTitle {
  color: #4e4d49;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.shippingText {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.ready {
  width: 100%;
  text-align: left;
}

.shipEdit {
  border: none;
  background-color: rgb(254, 254, 254);
  text-decoration: underline;
  color: #406eb5;
}

.shipEdit:hover {
  cursor: pointer;
  text-decoration: none;
}

#becomeMember {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dcd6cb;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

#mushroomDiv {
  display: flex;
  justify-content: center;
  background-color: rgb(254, 254, 254);
  position: relative;
  top: 3.75rem;
  left: 11.5rem;
  width: 110px;
  height: 44.5px;
}

#memberDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 1rem;
  width: 100%;
  position: relative;
  top: 1.5rem;
}

#memberText {
  font-weight: 400;
  width: 100%;
  font-size: 16px;
  height: 1rem;
}

/* #membershipLabel {
  border-radius: 4px;
  width: 100%;
  height: 1.25rem;
  display: flex;
  padding: 0.5rem;
  column-gap: .5rem;
  position: relative;
  left: 2.75rem;
} */

#membershipLabel:hover {
  cursor: pointer;
}

#lifetimeMembership {
  border: none;
  background-color: rgba(244, 242, 237, 0.15);
  text-decoration: underline;
  color: #406eb5;
}

#lifetimeMembership:hover {
  cursor: pointer;
  text-decoration: none;
}

#checkBoxText {
  background: rgba(244, 242, 237, 0.15);
  color: 333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
  position: relative;
  align-items: center;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer label {
  display: flex;
  border-radius: 5px;
  background-color: linen;
}


.checkboxContainer input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}



.checkboxContainer label::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 5px;
}



.checkboxContainer label:hover {
  background-color: linen;
}