.product-details {
  display: flex;
  padding-bottom: 1.1rem;

}

.product-rating {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 24px;
}



.product-details span:hover {
  color: #406eb5;
  text-decoration: none
}

.product-details span {
  position: relative;
  left: 7rem;
  font-size: 14px;
}


#ratingSpan a {
  text-decoration: none;
  color: #0c0b08bf
}




.star {
   align-items: center;
 }

.star img {
  padding: 1px;
}

.star span {
  position: relative;
  left: 1rem;
}

.rating-value {
  width: 30.61px;
  height: 17px;
  padding-left: 6px;
  padding-right: 6.8px;
  border-right: 0.5px #b2ab9f solid;
  justify-content: center;
  align-items: center;
  display: flex;
  color: rgba(12, 11, 8, 0.75);
  font-size: 13px;
  font-family: Inter;
  font-weight: 600;
  line-height: 18px;
  word-wrap: break-word;
}

.rating-count {
  color: rgba(12, 11, 8, 0.75);
  font-size: 13px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.product-id {
  padding-bottom: 12px;
  padding-right: 1.53px;
  margin-left: 80px;
  display: flex;
  color: #4e4d49;
  font-size: 13px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  font-weight: 400;
  /* line-height: 18px; */
  word-wrap: break-word;
  flex-direction: row;
  gap: 2px;
}
