#topFullContainer {
  display: flex;
  height: 18px;
  width: 100%;
  position: relative;
  bottom: 1rem;
  right: 3.75rem;
  font-size: large;
}

.navComp {
  display: flex;
  align-items: center;
}

.navComp a,
.navComp span {
  font-size: 14px;
}

.navComp li {
  align-items: center;
}

.productHeading {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 4rem;
  list-style-type: none;
}

.productDescText {
  flex: none;
  padding: 0;
}

.slashDivider {
  padding: 0 0.4rem;
  color: grey;
}

#topFullContainer a {
  text-decoration: none;
  cursor: pointer;
  color: grey;
  font-style: normal;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#topFullContainer a:hover {
  color: #406eb5;
  text-decoration: underline;
}
