/* FEATURE SECTION */
.features-accordion {
  display: flex;
}
.featuresDiv {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  list-style-type: disc;
}
#featureHeader {
  color: rgba(12, 11, 8, 0.75);
  font-size: 19px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
  letter-spacing: -0.08px;
}

#features-label {
  display: flex;
  flex-direction: column;
  align-content: start;
}

#product-features__list {
  list-style-type: none;
  position: relative;
  right: 1.5rem;
   white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featuresListLi{
  font-size:large;
}

.product-features__origin{
  font-size: medium;
}



/* TECH SPECS SECTION */
.tech-specs-accordion {
  display: flex;
}
.techDiv {
  display: flex;
  flex-direction: column;
}

#technicalHeader {
  color: rgba(12, 11, 8, 0.75);
  font-size: 19px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
  letter-spacing: -0.08px;
}

.specifications {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
      position: relative;
    top: 26px
}

.specs {
  width: 568px;
  display: flex;
  flex-direction: column;
}

.spec-item {
  display: flex;
  flex-direction: row;
  background: #f4f2ed;
  padding: 7px 16px 15px 16px;
  justify-content: space-between;
}

.spec-item:nth-child(odd) {
  background: #f4f2ed;
  color: #fff;
}

.spec-item:nth-child(even) {
  background: #fff;
  color: #000;
}

.spec-title {
  color: rgba(12, 11, 8, 0.75);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
  font-family: Graphik, Helvetica Neue, sans-serif;
  letter-spacing: -0.08px;
}

.spec-description {
  color: rgba(12, 11, 8, 0.75);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  margin-left: 80px;
  font-family: Graphik, Helvetica Neue, sans-serif;
  letter-spacing: -0.08px;
}


