/* PRODUCT REVIEW CHART */

#product-reviews-accordion {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: flex-start;
}

.section1 {
  display: flex;
  margin-left: 40px;
}

.Review-text-Header {
  font-family: Stuart, Georgia, serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 18px;
  line-height: 2.6rem;
  margin-bottom: 45px;
}

.ratingSnapShotContainer {
  display: flex;
  flex-direction: column;
  margin-right: -90px;
}

.title {
  color: #292929;
  font-size: 15px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.reviews {
  /* height: 181px; */
  padding: 4px 5px;
  /* left: 5px;
  top: 24px;
  position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.instruction {
  color: #292929;
  font-size: 15px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.rating-list {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.rating-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 35px;
}

.rating-label,
.rating-count {
  color: #292929;
  font-size: 15px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  margin-right: 05px;
}

.rating-count {
  font-size: 16px;
  margin-left: 6px;
}

.rating-bar-1 {
  /* align-self: stretch; */
  padding-right: 120px;
  background: #f7f7f7;
  box-shadow: 0px 0px 0px 1px #cccccc inset;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 07px;
}

.rating-bar-2 {
  padding-right: 120px;
  background: #f7f7f7;
  box-shadow: 0px 0px 0px 1px #cccccc inset;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rating-bar-3 {
  padding-right: 150px;
  background: #f7f7f7;
  box-shadow: 0px 0px 0px 1px #cccccc inset;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rating-bar-4 {
  padding-right: 130px;
  background: #f7f7f7;
  box-shadow: 0px 0px 0px 1px #cccccc inset;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rating-bar {
  padding-right: 100px;
  background: #f7f7f7;
  box-shadow: 0px 0px 0px 1px #cccccc inset;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.fill {
  height: 16px;
  background: #225c4e;
}

.five-star {
  width: 50px;
}

.four-star {
  width: 20px;
}

.two-star,
.one-star {
  width: 30px;
}

.three-star {
  width: 1px;
}

/* PRODUCT RATING  GRAPH */
#product-rating {
  display: flex;
  /* border: 1px solid rebeccapurple; */
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  position: relative;
  margin-top: -56px;
  margin-right: 40px;
}

#product-rating-header {
  left: -75px;
  top: 59px;
  /* right: 11px; */
  position: relative;
  display: flex;
  color: #292929;
  font-size: 15px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

#product-rating-body {
  /* height: 132px; */
  width: 500px;
  /* padding-bottom: 5px; */
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: inline-flex;
}

#product-rating-score {
  margin-left: 8px;
  /* padding-right: 192.33px; */
  justify-content: space-evenly;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  /* align-content: center; */
}

#product-rating-value {
  padding-top: 24px;
  padding-bottom: 17px;
  padding-right: 39px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  color: #292929;
  font-size: 43px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  margin-left: -88px;
}

#product-rating-stars {
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

#product-rating-star {
  height: 18px;
  padding-bottom: 0.72px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  width: 18px;
  height: 17.28px;
  background: black;
}

#product-rating-reviews {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 26px;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

#product-rating-number {
  width: 17.33px;
  height: 17px;
  color: #292929;
  font-size: 0px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

#product-rating-total-reviews {
  color: #292929;
  font-size: 14px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

#product-recommendation {
  /* width: 369.33px; */
  padding-top: 4px;
  padding-bottom: 6px;
  padding-right: 51.33px;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  color: #292929;
  font-size: 16px;
  /* font-weight: 200; */
  line-height: 26px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  margin-left: 115px;
  margin-bottom: 13px;
  /* padding-bottom: 12px; */
  /* font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

/* REVIEW THIS PRODUCT */
/* .outer {
  /* width: 100%;
  height: 100%;
  position: relative; */
/* } */

.reviewProductflex {
  display: flex;
  flex-direction: column;
}

.reviewThisProductTitle {
  color: #292929;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.inner-container {
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.block {
  height: 60px;
  padding: 4.5px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.block :hover {
  background-color: #bd7b2d;
}

.inner-block {
  height: 25px;
  width: 25px;
  padding: 13.5px;
  border-radius: 4px;
  border: 0.5px #bd7b2d solid;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 8px;
}

.inner-content {
  height: 24px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.info {
  width: 379.33px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 64.33px;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  color: #292929;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  color: rgb(41, 41, 41);
  font-size: 16px;
}

.svg-image {
  width: 24px;
  height: 24px;
}

.reviewCardsDiv {
  display: flex;
  padding-left: 10px;
}

.review-card {
  display: flex;
  flex-direction: column;
  font-size: small;
  position: relative;
  border-radius: 10px;
  border: 0.5px #ded7d7 solid;
  padding: 16px;
  margin-right: 16px;
  padding-left: 12px;
  padding-right: 85px;
  padding-top: 18px;
  padding-bottom: 20px;
}

.header-review-card {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;

  font-size: 17px;
  color: #292929;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 8px;
}

.main-section-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.star-review {
  width: 18px;
  height: 18px;
}

.star-section-review:hover {
  cursor: pointer;
}

.starbold {
  width: 16px;
  height: 15px;
}

.title-review {
  color: #292929;
  font-size: 19px;
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 15px;
}

.reviewer-info-review {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #292929;
}

.name-review {
  font-weight: 700;
  padding-bottom: 6px;
}

.time-review {
  padding-bottom: 18px;
  font-size: 13px;
}

.review-text {
  color: #292929;
  font-size: 15px;
  padding-right: 20px;
}

.review-show {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #292929;
  font-size: 14px;
}

.footer-review {
  display: flex;
  flex-direction: column;
}

.helpful-review {
  font-size: 13px;
  color: rgba(12, 11, 8, 0.75);
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.thumb-helpful {
  padding-right: 5px;
}

.show-reviews {
  font-size: 15px;
  color: rgba(12, 11, 8, 0.75);
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  line-height: 12px;
}

.border-review-1 {
  border: 0.5px #3d76bf solid;
  width: 83px;
  height: 28px;
  border-radius: 5px;
  margin-left: -80px;
  margin-bottom: -9px;
  padding-top: -10px;
}

.border-review-2 {
  border: 0.5px #3d76bf solid;
  width: 104px;
  height: 28px;
  border-radius: 5px;
  margin-left: -104px;
  margin-top: px;
  margin-bottom: -10px;
  padding-top: -10px;
}

/* CUSTOMER IMAGES SECTION  */
.image-costumer {
  padding-right: 10px;
}

#image-row {
  display: flex;
  padding-top: 15px;
  padding-bottom: 16px;
  overflow: hidden;
}

.image-container {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.gradient-box {
  width: 175px;
  height: 175px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.gradient-box:hover {
  transform: scale(1.1);
  /* Scale the image up to 110% of its original size when hovered over */
  overflow: hidden;
}

.image-container-1 {
  padding-left: 340px;
  overflow: hidden;
}

.black-line-image {
  border: none;
  border-top: 1px solid rgb(196, 193, 193);
  width: 1198px;
  margin-left: 10px;
}

.costumer-images {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

/*--------------------------------------------------Review-drop-down-box beggining---------------------------------------------------------*/

.Review-Display {
  display: grid;
  grid-template-columns: 6fr 1fr;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
}

.Reviews-Count {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Sort-Container {
  width: 200px;
  height: 34px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 0.5px #7a7a7a solid;
  justify-content: flex-start;
  padding-left: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.Sort-By {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Sort-Icon {
  padding-left: 46px;
}

.Most-Recent {
  display: flex;
  align-items: center;
}

.Most-Recent img {
  margin-left: 5px;
}

/*--------------------------------------------------Review-drop-down-box end---------------------------------------------------------*/

/*--------------------------------------------------Reviews-Container start---------------------------------------------------------*/
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 17px;
  border-top: 0.5px #b8b8b8 solid;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 18px;
  margin-right: 180px;
}

.user-name {
  width: 41.89px;
  height: 19px;
  color: #292929;
  font-size: 14px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 26px;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.user-location {
  color: #292929;
  font-size: 16px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.user-review,
.user-votes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7.95px;
  padding-bottom: 10px;
  font-size: 15px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}

.review-container {
  flex: 1 1 0;
  height: 555px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* padding-bottom: 10px; */
}

.review-header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 16px;
}

.review-rating {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review-title {
  color: #292929;
  font-size: 17px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.review-date {
  color: #292929;
  font-size: 13px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.review-content {
  width: 887.05px;
  color: #292929;
  font-size: 16px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  position: relative;
  padding-bottom: 1px;
  padding-right: 45.05px;
  left: 8px;
  top: 16px;
}

.review-images {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  margin-bottom: 8px;
}

.review-images img {
  height: 175px;
  padding: 2px;
}

.review-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
  margin-top: 28px;
  margin-left: 8px;
  margin-bottom: 8px;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: nowrap;
}

.review-age {
  color: #292929;
  font-size: 15px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.review-recommendation {
  color: rgba(12, 11, 8, 0.75);
  font-size: 16px;
  font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.bold-letter {
  font-weight: 800;
  color: black;
}

.star {
  color: #bd7b2d;
  fill: #bd7b2d;
}

.end-of-page {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.helpful {
  font-size: 16px;
}
.innapropriate {
  margin-left: 90px;
  padding-top: 10px;
  font-size: 13px;
  cursor: pointer;
}

.innapropriate:hover {
  text-decoration: underline;
}

.thumb {
  width: 1rem;
  padding-right: 8px;
  height: 15px;
  padding-left: 10px;
  cursor: pointer;
}
