.LowerBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;

}

.lowerBarBtns {
  line-height: 20px;
  padding: 0.8rem 0.8rem;
}

.lowerBarBtns:hover {
  border-bottom: 3px solid #292929c7;
  padding-bottom: 0px;
  cursor: pointer;
  transition: 0.03s;
}

.lowerBarBtns:active {
  box-shadow: inset 0px 0px 1px 2px black;
}

#deals {
  color: #c7370f;
  text-shadow: #c7370f;
}

#deals:hover {
  border-bottom: 3px solid #c7370f;
  padding-bottom: 0px;
  cursor: pointer;
  transition: 0.03s;
}