.LowerBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
}

#lowerBarhr {
  height: 1px;
  background-color: lightgrey;
  border: none;
}

#lowerBarBtns {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  padding: 0.8rem 0.8rem;
  text-align: center;
  white-space: nowrap;
}
#lowerBarBtns:hover {
  border-bottom: 3px solid #292929c7;
  cursor: pointer;
  transition: 0.03s;
}
#lowerBarBtns:active {
  border: 1px solid black;
}
