#Masthead {
   display: flex;
   align-items: center;
   height: 80px;
   overflow: initial;
   border-bottom: 1px solid #dadada;
   box-sizing: border-box;
   padding-left: 30px;
   padding-right: 30px;
}

#masthead-left {
   display: flex;
   align-items: center;
}

#masthead-center {
   flex: auto;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

#masthead-center form {
   padding-left: 36px;
   display: flex;
   max-width: 480px;
   width: 100%;
}

#masthead-center input {
   width: 100%;
   height: 46px;
   padding: 0 90px 0 10px;
   background-color: hsla(0, 0%, 100%, .85);
   font-family: Graphik, Helvetica Neue, sans-serif;
   letter-spacing: -.16px;
   font-size: 16px;
   line-height: 22px;
   border: 0;
   box-shadow: inset 0 0 0 1px #928b80;
   border-radius: 4px;
}

#masthead-center button {
   position: relative;
   right: 45px;
   padding: 8px 10px;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

#img {
   width: 76px;
   height: 48px;
   fill: #292929;
   margin-right: 16px;
}

#masthead-left a {
   text-decoration: none;
   font-family: Stuart, Georgia, serif;
   font-weight: 600;
   color: #292929;
   margin-bottom: -7px;
   font-size: 24px;
   line-height: 30px;
   letter-spacing: -.16px;
   -webkit-font-smoothing: antialiased;
}

#masthead-right {
   padding-left: 6px;
}

#mastead-actions {
   display: flex;
   align-items: center;
   flex-direction: row;
}

#container {
   display: flex;
   cursor: pointer;
   padding: 12px;
   align-items: center;
}

#icon {
   width: 16px;
   height: 24px;
   fill: #616161;
   padding-left: 4px;
   padding-right: 4px;
}

#details {
   letter-spacing: -.08px;
   font-size: 13px;
   line-height: 1.6rem;
   padding-left: 4px;
}

#open-time {
   padding-left: 4px;
   color: #367c3c;
}

#sunnyvale {
   color: #292929;
   text-decoration: underline;
   font-family: Graphik, Helvetica Neue, sans-serif;
   font-style: normal;
   font-weight: 400;
   letter-spacing: -.16px;
}

#second-div a {
   display: inline-flex;
   align-items: center;
   color: #616161;
   text-decoration: none;
   padding: 1.2rem;
}

#third-div a {
   display: inline-flex;
   align-items: center;
   color: #616161;
   text-decoration: none;
   padding: 1.2rem;
}

#cartQty {
   position: relative;
   font-size: 12px;
   bottom: 19px;
   right: 4px;
   background: #1f513f;
   color: #fff;
   padding: 1px 2px;
   border: 1px solid #1f513f;
   box-sizing: border-box;
   box-shadow: 0 4px 4px 0 rgba(12, 11, 8, .2);
   border-radius: 2px;
}

#sign-in {
   padding-left: 5px;
}